<html>
  <head>
    <title>Louisiana</title>
      <link rel="stylesheet" href="/main.css" title="CSS" type="text/css"/>
  </head>
  <body>
    <h1 class="header">Growing Up In Small Town Louisiana</h1>
    <div class="story">
    <p>I can't really call it a small town. The sticks is more apporpriate. I was raised in Beekman Louisiana to be exact. It might as well have been on another planet. Sure there are lots of places one could call 'the middle of nowhere', but Beekman, LA was my 'middle of nowhere.'</p>
  </div>
  <footer> </footer> 
  </body>
</html>
